body, .corners{
  /*background-color: rgb(200,200,200);*/
  background-color: white;
}

.intro{
  font-family: 'Advent Pro', sans-serif;
  font-size: 12pt;
}
h3{
  font-family: 'Advent Pro', sans-serif;
  font-size: 34pt;
  margin-top: 0px;
  margin-left: 20px;
  margin-bottom: 10px;
  color: #7FABAA;
}

.hlabel.hconcept{
  display: none;
}

#shading{
  display: none;
}

.year{
  min-height: 11px;
  /*border-spacing: -1px -1px;*/
}

.yearlabel{
  vertical-align: middle;
  font-size: 10pt;
}

.legendtext{
  display: table-cell;
  vertical-align: middle;
  padding-left: 1em;

}

.papercell{
  display: table-cell;
}

.paper{
  
  min-width: 11px;
  min-height: 11px;
  position: relative;

}

.corners{
  /*background-color: red;*/
  min-width: 11px;
  min-height: 11px;
}



.paperglyph{

  position: absolute;
  left: 0px;
  top: 0px;
}

.best{
  /*margin: 0 auto;*/
  position: absolute;
  top: 8.5px;
  left: 8.5px;
  min-width: 7px;
  min-height: 7px;
  max-width: 7px;
  max-height: 7px;
  background-color: gold;
  border-radius: 5px;
  opacity: 1;
}

.papercircle{
  border-radius: 15px;
  min-width: 5px;
  min-height: 5px;
  border: 2px white solid;
  /*background-color: black;*/
  left: 1px;
  top: 1px;
  background-color: rgb(200,200,200);

}

.paperglyph{
}



.paperglyph.selected{
  background-color: orange;
  /*opacity: 1;*/
}

.paperglyph.innode{
  /*background-color: green;*/
  background-color: lime;
  /*opacity: 1;*/
}

.paperglyph.outnode{
  background-color: blue;
  /*opacity: 1;*/
}

.papercircle{
  /*border: 2px white solid;*/
}

.papercircle.selinnode{
  border: 2px lime solid;
}

.papercircle.seloutnode{
  border: 2px blue solid;
}
.papercircle.sel{
  border: 2px orange solid;
}







.label{
  color: white;
  position: absolute;
  font-size: 8pt;
  text-align: center;
  line-height: 24px;
  min-width: 24px;
  min-height: 24px;
  /*margin: auto;*/
}

.label.innode{
  color: black;
}

#selection{
  min-height: 110px;
  /*max-height: 100px;*/
  min-width: 700px;
  max-width: 700px;
  border: solid 3px orange;
  border-radius: 15px;
  padding: 10px;

  display: none;
}

#details{
  min-height: 100px;
  /*max-height: px;*/
  /*max-height: 100px;*/
  min-width: 700px;
  max-width: 700px;
  padding: 10px;
  
  /*border: solid 3px steelblue;*/
  /*border-radius: 15px;*/
}

#highlightlist{
  position: absolute;
  color: red;
  border: 3px red solid;
  border-radius: 15px;
  top: 424px;
  left: 600px;
  min-width: 440px;
  max-width: 440px;
  min-height: 110px;
  max-height: 110px;
  padding: 10px;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  -ms-column-count: 3;
  -o-column-count: 3;
  column-count: 3;
  -webkit-column-fill: auto;
  -moz-column-fill: auto;
  -o-column-fill: auto;
  -ms-column-fill: auto;
  column-fill: auto;
  
}

.button {
  background-color:#80abaa;
  -webkit-border-top-left-radius:15px;
  -moz-border-radius-topleft:15px;
  border-top-left-radius:15px;
  -webkit-border-top-right-radius:15px;
  -moz-border-radius-topright:15px;
  border-top-right-radius:15px;
  -webkit-border-bottom-right-radius:15px;
  -moz-border-radius-bottomright:15px;
  border-bottom-right-radius:15px;
  -webkit-border-bottom-left-radius:15px;
  -moz-border-radius-bottomleft:15px;
  border-bottom-left-radius:15px;
  text-indent:0;
  display:inline-block;
  color:#292929;
  font-family:Arial;
  font-size:13px;
  font-weight:bold;
  font-style:normal;
  height:22px;
  line-height:22px;
  /*width:40px;*/
  text-decoration:none;
  text-align:center;
  padding: 0px 5px;
}.button:hover {
  background-color:#5cb811;
}.button:active {
  position:relative;
  top:1px;
}